@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

button {
  @apply py-1 px-2 rounded font-light;
}

.form-group {
  @apply flex flex-col my-4;
}

.form-group label {
  @apply my-1;
}

.form-group input,
.form-group textarea {
  @apply rounded border-solid py-1 border outline-none;
  border-color: hsl(0, 0%, 80%);
}

.form-group input:focus {
  border-color: #2684ff;
  border-width: 2px;
}